n8n-workflows/MVP_WORKFLOW.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f87b6abd-a9ad-4cac-9606-02ba20218718",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -320,
        200
      ],
      "id": "c9ae287f-44ba-4718-8d4d-bc094e319f35",
      "name": "Webhook",
      "webhookId": "f87b6abd-a9ad-4cac-9606-02ba20218718"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "You are a highly skilled social media manager. Your task is to transform long-form content into concise, engaging social media posts tailored for Twitter. Aim for 1-3 short, impactful tweets. Use relevant hashtags and emojis.",
              "role": "system"
            },
            {
              "content": "={{ $('Prepare Input').item.json.longFormContent }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        120,
        200
      ],
      "id": "ac551e1e-9486-4cf8-a1e5-a9ffb4c87a7c",
      "name": "OpenAI - Twitter",
      "alwaysOutputData": false,
      "credentials": {
        "openAiApi": {
          "id": "hSdh1UPJQdWQvoej",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "You are a highly skilled social media manager. Your task is to transform long-form content into a professional and insightful LinkedIn post. Focus on business insights, value, and thought leadership. Include relevant hashtags.",
              "role": "system"
            },
            {
              "content": "={{ $('Prepare Input').item.json.longFormContent }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        120,
        0
      ],
      "id": "6fe3a1db-9875-4ee8-b8eb-147f61d8c311",
      "name": "OpenAI - Linkedin",
      "credentials": {
        "openAiApi": {
          "id": "hSdh1UPJQdWQvoej",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d9beacb-ad84-4d39-93f0-3de9f5566652",
              "name": "longFormContent",
              "value": "={{ $json.body.longFormContent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        200
      ],
      "id": "80a4fe17-09f3-4cc7-9a01-4c31e1dd763c",
      "name": "Prepare Input",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b542c6d-93cf-4879-a8ba-7d29a4f7fbc1",
              "name": "twitterPost",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        200
      ],
      "id": "9a801a49-7073-4960-90c2-739dd1935440",
      "name": "Format Twitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b542c6d-93cf-4879-a8ba-7d29a4f7fbc1",
              "name": "linkedinPost",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        0
      ],
      "id": "c40cf053-42aa-4090-b80b-eb18f65ce017",
      "name": "Format Linkedin"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        716,
        200
      ],
      "id": "fb8dcc99-cee0-4ec3-bc06-6698727bf18a",
      "name": "Merge Posts"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "You are a highly skilled social media manager. Your task is to transform long-form content into a compelling and concise instagram 'Threads' post. Focus on visual appeal, strong hooks, and relevant hashtags.",
              "role": "system"
            },
            {
              "content": "={{ $('Prepare Input').item.json.longFormContent }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        120,
        400
      ],
      "id": "37326cec-8cae-474e-9596-adda38d8c4d0",
      "name": "OpenAI - Threads",
      "credentials": {
        "openAiApi": {
          "id": "hSdh1UPJQdWQvoej",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b542c6d-93cf-4879-a8ba-7d29a4f7fbc1",
              "name": "threadsPost",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        400
      ],
      "id": "37f411f8-f3b1-423c-b09b-5b3990e2f44e",
      "name": "Format Threads"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1156,
        200
      ],
      "id": "ca7209ed-09c5-4a2d-b55f-ca72f59d8877",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35206dc1-2234-42db-869e-619f787c3953",
              "name": "output",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        936,
        200
      ],
      "id": "728449d1-6dfb-48b1-a083-5676f31ba03b",
      "name": "Format Output"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Twitter": {
      "main": [
        [
          {
            "node": "Format Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Linkedin": {
      "main": [
        [
          {
            "node": "Format Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "OpenAI - Twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI - Linkedin",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI - Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Twitter": {
      "main": [
        [
          {
            "node": "Merge Posts",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format Linkedin": {
      "main": [
        [
          {
            "node": "Merge Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Posts": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Threads": {
      "main": [
        [
          {
            "node": "Format Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Threads": {
      "main": [
        [
          {
            "node": "Merge Posts",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7dc59ef1-7cdd-4dd2-bd91-9b83aa7563ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e9b5f1b9e6833cf65b79f249be45e49f2c6f201e915fdce2df1135889baf442"
  },
  "id": "GyhStz4vgDWcWX7o",
  "tags": []
}