n8n-workflows/OmniPost___June_2.json
{
  "name": "OmniPost - June 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f87b6abd-a9ad-4cac-9606-02ba20218718",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "2f1c5e23-002d-4138-a0be-082ee2d10678",
      "name": "Webhook",
      "webhookId": "f87b6abd-a9ad-4cac-9606-02ba20218718"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "You are a highly skilled social media manager. Your task is to transform long-form content into concise, engaging social media posts tailored for Twitter. Aim for 1-3 short, impactful tweets. Use relevant hashtags and emojis.",
              "role": "system"
            },
            {
              "content": "={{ $('Prepare Input').item.json.longFormContent }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        320,
        0
      ],
      "id": "97f56384-caa1-4c79-aa2c-ea5638939993",
      "name": "OpenAI - Twitter",
      "alwaysOutputData": false,
      "credentials": {
        "openAiApi": {
          "id": "T1zGEMiMAgCMOgA5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "You are a highly skilled social media manager. Your task is to transform long-form content into a professional and insightful LinkedIn post. Focus on business insights, value, and thought leadership. Include relevant hashtags.",
              "role": "system"
            },
            {
              "content": "={{ $('Prepare Input').item.json.longFormContent }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        320,
        -200
      ],
      "id": "f29fd43f-36c6-41fd-8c8b-5f954d8c989c",
      "name": "OpenAI - Linkedin",
      "credentials": {
        "openAiApi": {
          "id": "T1zGEMiMAgCMOgA5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \"longFormContent\": \"{{ $json.body.content }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        0
      ],
      "id": "ae03a778-200f-47dc-b5be-0e643e6750c9",
      "name": "Prepare Input",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b542c6d-93cf-4879-a8ba-7d29a4f7fbc1",
              "name": "twitterPost",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        0
      ],
      "id": "f9f88a4b-1d6f-42ac-a86d-c0cecb386627",
      "name": "Format Twitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b542c6d-93cf-4879-a8ba-7d29a4f7fbc1",
              "name": "linkedinPost",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        -200
      ],
      "id": "7c2b8331-57dc-4721-9a0f-28257b93e196",
      "name": "Format Linkedin"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        0
      ],
      "id": "c3a46c17-f80f-4f13-a35e-e8fe2c8b2a32",
      "name": "Merge Posts"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"output\": {{ $json }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        0
      ],
      "id": "05656b83-2f7a-4c0b-889f-66d232d09853",
      "name": "Final Output"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "You are a highly skilled social media manager. Your task is to transform long-form content into a compelling and concise instagram 'Threads' post. Focus on visual appeal, strong hooks, and relevant hashtags.",
              "role": "system"
            },
            {
              "content": "={{ $('Prepare Input').item.json.longFormContent }}"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        320,
        200
      ],
      "id": "804e1abf-e45e-40b3-9f6a-8e772d10f293",
      "name": "OpenAI - Threads",
      "credentials": {
        "openAiApi": {
          "id": "T1zGEMiMAgCMOgA5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b542c6d-93cf-4879-a8ba-7d29a4f7fbc1",
              "name": "threadsPost",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        200
      ],
      "id": "c2d3bb31-9081-4bfd-b10e-e933f7983354",
      "name": "Format Threads"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Twitter": {
      "main": [
        [
          {
            "node": "Format Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Linkedin": {
      "main": [
        [
          {
            "node": "Format Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "OpenAI - Twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI - Linkedin",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI - Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Twitter": {
      "main": [
        [
          {
            "node": "Merge Posts",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format Linkedin": {
      "main": [
        [
          {
            "node": "Merge Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Posts": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Threads": {
      "main": [
        [
          {
            "node": "Format Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Threads": {
      "main": [
        [
          {
            "node": "Merge Posts",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Vancouver",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "629d1768-18e1-4234-98e4-dfb577d29ec5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae0aee2e42c05965c8da048fc8e2eac1fe7283d21ad18b5b3ce702df4f24811f"
  },
  "id": "zDR9PVunBAFYansM",
  "tags": []
}