n8n-workflows/PHASE_1.5_WORKFLOW.json
{
  "name": "PHASE_1.5_WORKFLOW",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f87b6abd-a9ad-4cac-9606-02ba20218718",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -380,
        500
      ],
      "id": "f06b457f-fcfd-43b5-bdd5-f99f401ae79d",
      "name": "Webhook",
      "webhookId": "f87b6abd-a9ad-4cac-9606-02ba20218718"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=`You are a Twitter content expert specializing in creating engaging tweets and threads. Your goal is to distill content into concise, attention-grabbing Twitter updates that encourage interaction. You understand Twitter's character limits, the effective use of hashtags, and how to structure threads for maximum impact and readability. Your tone should be conversational and dynamic.`",
              "role": "system"
            },
            {
              "content": "=`Based on the following content analysis:\n{{ JSON.stringify($('Content Analyzer').item.json.choices[0].message.content) }}\n\nTransform the original content provided below into an engaging and concise Twitter thread. Aim for 3-5 tweets, but adjust based on content length and complexity. A single, impactful tweet may be appropriate for very short content.\n\nORIGINAL CONTENT TO TRANSFORM:\n{{ $('Prepare Input').item.json.longFormContent }}\n\nREQUIREMENTS:\n- **Hook (Tweet 1):** The first tweet MUST be a compelling hook (under 280 characters) that grabs attention immediately and makes users want to read the entire thread. It should be tailored to the 'mainTone' ('{{ $('Content Analyzer').item.json.choices[0].message.content.mainTone }}') and 'targetAudienceIntent' ('{{ $('Content Analyzer').item.json.choices[0].message.content.targetAudienceIntent }}').\n- **Thread Structure & Cohesion:** Break complex ideas into digestible, single-focus tweets. Ensure the thread tells a cohesive story or presents a clear argument from start to finish.\n- **Conciseness:** Each tweet in the thread must be concise and easy to read quickly, suitable for Twitter's fast-paced environment. While not every tweet needs to be at the character limit, avoid overly long sentences or paragraphs within a single tweet.\n- **Hashtags:** Use 2-3 relevant and targeted hashtags per tweet. Focus on hashtags derived from 'keyTopics' (like {{ ($('Content Analyzer').item.json.choices[0].message.content.keyTopics && $('Content Analyzer').item.json.choices[0].message.content.keyTopics.length > 0) ? \"'\" + $('Content Analyzer').item.json.choices[0].message.content.keyTopics.join(\"', '\") + \"'\" : \"'relevant topics'\" }}) and the identified 'industry' ('{{ $('Content Analyzer').item.json.choices[0].message.content.industry }}'). Avoid over-tagging.\n- **Tone:** Ensure a conversational and engaging tone, precisely adapted from the 'mainTone' ('{{ $('Content Analyzer').item.json.choices[0].message.content.mainTone }}').\n- **Actionable Value:** Include actionable takeaways or key points if present in the original content.\n- **Engagement CTA (Last Tweet):** End the thread with an engaging question or a clear call-to-action to encourage replies, retweets, or further discussion.\n- **Numbering:** Strictly number tweets in the thread using the format \"1/X\", \"2/X\", etc., where X is the total number of tweets in the thread. (e.g., 1/4, 2/4, 3/4, 4/4).\n- **Complexity Adaptation:** If 'estimatedComplexity' ('{{ $('Content Analyzer').item.json.choices[0].message.content.estimatedComplexity }}') is 'expert_level', you can touch on more nuanced points concisely. If it's 'beginner_friendly', ensure concepts are highly accessible and explained very simply.\n\nOUTPUT FORMAT (Reminder):\nIf a single tweet: Just the tweet content.\nIf a thread: Format as \"1/X: [content]\\n2/X: [content]\\n...\" with each tweet clearly delineated by the numbering and on new lines.`"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        436,
        300
      ],
      "id": "e548b953-d74d-4c51-ad86-69cd2ffb9419",
      "name": "OpenAI - Twitter",
      "alwaysOutputData": false,
      "credentials": {
        "openAiApi": {
          "id": "hSdh1UPJQdWQvoej",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=`You are a professional LinkedIn content strategist. Your primary mission is to transform user-provided content into compelling LinkedIn posts that drive engagement and provide professional value. You focus on extracting key business insights, maintaining a professional yet engaging tone, incorporating relevant hashtags, including calls-to-action, ensuring readability, adhering to optimal length, and positioning the content as thought leadership. Your output should always be a well-structured LinkedIn post with clear paragraphs and strategic hashtag placement.`",
              "role": "system"
            },
            {
              "content": "=`Based on the following content analysis:\n{{ JSON.stringify($('Content Analyzer').item.json.choices[0].message.content) }}\n\nTransform the original content provided below into a compelling LinkedIn post designed for professional engagement and thought leadership.\n\nORIGINAL CONTENT TO TRANSFORM:\n{{ $('Prepare Input').item.json.longFormContent }}\n\nREQUIREMENTS:\n- **Insight Focus:** Extract the most significant key business insights, value propositions, or actionable takeaways from the content. If applicable, explicitly present a \"Key Insight:\" or \"Business Takeaway:\" section for emphasis.\n- **Tone and Style:** Adapt your tone to be professional and engaging, precisely reflecting the 'mainTone' ('{{ $('Content Analyzer').item.json.choices[0].message.content.mainTone }}'), the 'industry' ('{{ $('Content Analyzer').item.json.choices[0].message.content.industry }}'), and the 'targetAudienceIntent' ('{{ $('Content Analyzer').item.json.choices[0].message.content.targetAudienceIntent }}') from the analysis.\n- **Hashtags:** Include 3-5 highly relevant and targeted hashtags. Prioritize hashtags derived from 'keyTopics' (e.g., {{ ($('Content Analyzer').item.json.choices[0].message.content.keyTopics && $('Content Analyzer').item.json.choices[0].message.content.keyTopics.length > 0) ? \"'\" + $('Content Analyzer').item.json.choices[0].message.content.keyTopics.join(\"', '\") + \"'\" : \"'general topics'\" }}) and the specific 'industry'.\n- **Call to Action (CTA):** Conclude with a strong, thought-provoking question or a clear call-to-action that encourages professional discussion and is suitable for the 'targetAudienceIntent'.\n- **Readability:** Format the post with clear paragraphs, bullet points if appropriate for lists, and proper line breaks for excellent readability on LinkedIn.\n- **Length:** Aim for an optimal length of 150-300 words. Be concise yet impactful.\n- **Complexity Adaptation:** If 'estimatedComplexity' ('{{ $('Content Analyzer').item.json.choices[0].message.content.estimatedComplexity }}') is 'expert_level', incorporate nuanced, in-depth points. If it's 'beginner_friendly', ensure concepts are explained very simply and are highly accessible.\n- **Audience Focus:** Ensure the language and examples resonate with the 'targetAudienceIntent'.\n\nOUTPUT FORMAT (Reminder):\nCreate a well-structured LinkedIn post with clear paragraphs and strategic hashtag placement, optimized for professional engagement.`"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        436,
        100
      ],
      "id": "37e4ab19-61ea-4cac-9299-40699730b465",
      "name": "OpenAI - Linkedin",
      "credentials": {
        "openAiApi": {
          "id": "hSdh1UPJQdWQvoej",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d9beacb-ad84-4d39-93f0-3de9f5566652",
              "name": "longFormContent",
              "value": "={{ $json.body.longFormContent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        500
      ],
      "id": "285f8b59-cc54-423a-a8ab-6199d9452063",
      "name": "Prepare Input",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 5,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1032,
        458
      ],
      "id": "1b8539c4-6aa8-40d3-a518-cd47166e4647",
      "name": "Merge Posts"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=`You are a Threads content creator focused on building community and fostering engagement. Your expertise lies in transforming text into visually appealing, conversational Threads posts. You leverage emojis strategically, understand the importance of good formatting (line breaks, spacing, lists), and aim to make content feel personal and approachable to encourage discussion.`",
              "role": "system"
            },
            {
              "content": "=`Based on the following content analysis:\n{{ JSON.stringify($('Content Analyzer').item.json.choices[0].message.content) }}\n\nTransform the original content provided below into a single, visually appealing, and highly engaging Threads post designed to spark community interaction.\n\nORIGINAL CONTENT TO TRANSFORM:\n{{ $('Prepare Input').item.json.longFormContent }}\n\nREQUIREMENTS:\n- **Emoji Integration:** Use emojis strategically and tastefully throughout the post to enhance visual appeal, convey emotion, and break up text. Ensure they align with the 'mainTone' ('{{ $('Content Analyzer').item.json.choices[0].message.content.mainTone }}') and 'contentType' ('{{ $('Content Analyzer').item.json.choices[0].message.content.contentType }}').\n- **Formatting for Engagement:** Ensure excellent readability with generous use of line breaks, thoughtful spacing between paragraphs or ideas. Utilize formatting like bolding for subheadings or key phrases to enhance readability and visual structure if appropriate. If the 'contentType' ('{{ $('Content Analyzer').item.json.choices[0].message.content.contentType }}') suggests lists (e.g., steps, tips, features), present them clearly using bullet points (e.g., • item) or numbered lists.\n- **Conversational Focus:** Prioritize storytelling, personal connection, or sparking a friendly conversation, guided by the 'mainTone' ('{{ $('Content Analyzer').item.json.choices[0].message.content.mainTone }}') and 'targetAudienceIntent' ('{{ $('Content Analyzer').item.json.choices[0].message.content.targetAudienceIntent }}'). Make it feel authentic and human.\n- **Hashtags:** Include 3-5 relevant and engaging hashtags. These should be integrated naturally within the text if possible, or grouped at the end. Draw from 'keyTopics' (like {{ ($('Content Analyzer').item.json.choices[0].message.content.keyTopics && $('Content Analyzer').item.json.choices[0].message.content.keyTopics.length > 0) ? \"'\" + $('Content Analyzer').item.json.choices[0].message.content.keyTopics.join(\"', '\") + \"'\" : \"'community topics'\" }}) and the identified 'industry' ('{{ $('Content Analyzer').item.json.choices[0].message.content.industry }}').\n- **Tone:** Maintain a friendly, approachable, and inviting tone, precisely adapted from the 'mainTone' ('{{ $('Content Analyzer').item.json.choices[0].message.content.mainTone }}').\n- **Interactive CTA:** End with a question or prompt specifically designed to encourage direct replies, share experiences, or start a community discussion.\n- **Complexity Adaptation:** If 'estimatedComplexity' ('{{ $('Content Analyzer').item.json.choices[0].message.content.estimatedComplexity }}') is 'expert_level', present insights in an accessible way. If it's 'beginner_friendly', keep the language exceptionally simple and inviting.\n\nOUTPUT FORMAT (Reminder):\nA single, well-formatted Threads post with emojis, clear paragraphs/sections, good spacing, and hashtags naturally integrated, ready for publishing. Ensure it reads as one continuous post, not a numbered series.`"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        436,
        500
      ],
      "id": "20108dd2-c507-45b3-b24c-c728819bf6b0",
      "name": "OpenAI - Threads",
      "credentials": {
        "openAiApi": {
          "id": "hSdh1UPJQdWQvoej",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1472,
        500
      ],
      "id": "9bc28696-2a74-4700-bd79-facdac9f5d87",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35206dc1-2234-42db-869e-619f787c3953",
              "name": "output",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1252,
        500
      ],
      "id": "5f2b7554-c709-4d78-bd40-9ecf1480f485",
      "name": "Format Output"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=`You are an expert content analyst. Your task is to analyze the provided text and output your findings strictly in the JSON format specified. Do not include any explanatory text, markdown formatting, or anything else before or after the JSON object.`",
              "role": "system"
            },
            {
              "content": "=`Analyze the following content and extract key characteristics. Provide your analysis STRICTLY in the following JSON format.\n\nCONTENT:\n{{ $('Prepare Input').item.json.longFormContent || \"No content provided.\" }}\n\nJSON OUTPUT FORMAT:\n{\n  \"contentType\": \"blog_post_or_article|news_announcement|product_description|case_study|opinion_piece|technical_document|promotional_copy|other\",\n  \"industry\": \"technology|marketing_and_advertising|finance_and_banking|healthcare_and_wellness|education_and_elearning|retail_and_ecommerce|business_and_consulting|lifestyle_and_entertainment|general_or_multiple\",\n  \"mainTone\": \"professional_and_formal|casual_and_conversational|technical_and_detailed|inspirational_and_motivational|humorous_and_witty|neutral_and_informative\",\n  \"keyTopics\": [\"topic1\", \"topic2\", \"topic3_max_5\"],\n  \"targetAudienceIntent\": \"educate_professionals|inform_general_consumers|engage_technical_experts|attract_potential_customers|share_with_peers\",\n  \"estimatedWordCount\": {{ typeof $('Prepare Input').item.json.longFormContent === 'string' ? $('Prepare Input').item.json.longFormContent.split(/\\s+/).filter(Boolean).length : 0 }},\n  \"estimatedComplexity\": \"beginner_friendly|intermediate_level|expert_level\"\n}`"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        60,
        500
      ],
      "id": "5bb50752-1323-4534-9586-fddcd4c38993",
      "name": "Content Analyzer",
      "credentials": {
        "openAiApi": {
          "id": "hSdh1UPJQdWQvoej",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=`You are an expert content strategist specializing in creating compelling newsletter-style articles for platforms like Substack. Your goal is to transform or repurpose existing long-form content into engaging pieces that resonate with a dedicated subscriber base. Focus on clear narrative structure, insightful commentary, personal voice (if appropriate for the content), and encouraging reader engagement or discussion. Your output should be a well-formatted article segment.`",
              "role": "system"
            },
            {
              "content": "=`Based on the following content analysis:\n{{ JSON.stringify($('Content Analyzer').item.json.choices[0].message.content) }}\n\nTransform the original content provided below into an engaging article segment suitable for a Substack newsletter. Consider the typical Substack format which often includes a personal introduction, developed points, and a concluding thought or call to discussion.\n\nORIGINAL CONTENT TO TRANSFORM:\n{{ $('Prepare Input').item.json.longFormContent }}\n\nREQUIREMENTS:\n- **Purpose/Angle:** Determine a compelling angle or purpose for this Substack piece based on the original content and the 'keyTopics' ('{{ $('Content Analyzer').item.json.choices[0].message.content.keyTopics ? $('Content Analyzer').item.json.choices[0].message.content.keyTopics.join(\", \") : \"identified topics\" }}'). This might be a summary, a deeper dive into one aspect, an opinion piece inspired by the content, or an engaging introduction to the full content.\n- **Structure & Formatting:**\n    - Create a clear, readable structure with paragraphs.\n    - Use markdown for formatting if appropriate (e.g., for headings like ## Section Title, bolding **text**, italics *text*, blockquotes > text, lists - item).\n    - Ensure good flow and logical progression of ideas.\n- **Tone & Voice:** Adapt your tone based on the 'mainTone' ('{{ $('Content Analyzer').item.json.choices[0].message.content.mainTone }}') and 'targetAudienceIntent' ('{{ $('Content Analyzer').item.json.choices[0].message.content.targetAudienceIntent }}'). If the 'mainTone' suggests a personal or opinionated style, lean into that, as it's common on Substack.\n- **Engagement:** If appropriate, include a question for readers or a prompt for discussion in the comments section.\n- **Length:** Aim for a substantial segment (e.g., 300-700 words) that provides value, but don't just repeat the original content verbatim. Focus on repurposing with a fresh perspective or summary.\n- **Complexity Adaptation:** If 'estimatedComplexity' ('{{ $('Content Analyzer').item.json.choices[0].message.content.estimatedComplexity }}') is 'expert_level', present insights thoughtfully. If it's 'beginner_friendly', ensure clarity and accessibility.\n- **Originality:** While based on the original content, the Substack piece should offer a unique take or summary, not just a copy-paste.\n\nOUTPUT FORMAT (Reminder):\nA well-formatted article segment using markdown for structure where appropriate, ready to be part of a Substack newsletter.`"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        436,
        700
      ],
      "id": "508f3666-bef1-49ce-b9c6-a3f00c9e8ddc",
      "name": "OpenAI - Substack",
      "credentials": {
        "openAiApi": {
          "id": "hSdh1UPJQdWQvoej",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=`You are an expert writer and content strategist specializing in crafting engaging articles for Medium. Your goal is to transform or repurpose existing long-form content into well-structured, insightful, and shareable blog posts that appeal to a broad audience. Focus on strong headlines, clear introductions, well-developed points with supporting details, and impactful conclusions. Your output should be a high-quality article segment.`",
              "role": "system"
            },
            {
              "content": "=`Based on the following content analysis:\n{{ JSON.stringify($('Content Analyzer').item.json.choices[0].message.content) }}\n\nTransform the original content provided below into a compelling article segment suitable for publishing on Medium. Consider Medium's emphasis on quality writing, clear takeaways, and often a slightly more formal or in-depth approach than typical social media.\n\nORIGINAL CONTENT TO TRANSFORM:\n{{ $('Prepare Input').item.json.longFormContent }}\n\nREQUIREMENTS:\n- **Headline/Title Idea (Optional but Recommended):** Suggest 1-2 compelling headline ideas for this Medium article based on the content and 'keyTopics' ('{{ $('Content Analyzer').item.json.choices[0].message.content.keyTopics ? $('Content Analyzer').item.json.choices[0].message.content.keyTopics.join(\", \") : \"identified topics\" }}').\n- **Structure & Formatting:**\n    - Create a well-organized structure with a clear introduction, body paragraphs developing distinct points, and a conclusion.\n    - Use markdown for formatting (e.g., ## Main Title Idea, ### Subheading, **bold**, *italic*, blockquotes, lists).\n    - Ensure logical transitions between ideas.\n- **Tone & Style:** Adapt your tone based on the 'mainTone' ('{{ $('Content Analyzer').item.json.choices[0].message.content.mainTone }}') and 'targetAudienceIntent' ('{{ $('Content Analyzer').item.json.choices[0].message.content.targetAudienceIntent }}'). Medium often favors informative, thought-provoking, or story-driven content.\n- **Key Takeaways:** If possible, implicitly or explicitly highlight 2-3 key takeaways for the reader from the transformed content.\n- **Length:** Aim for a well-developed article segment (e.g., 400-800 words). Focus on providing depth or a clear narrative.\n- **Complexity Adaptation:** If 'estimatedComplexity' ('{{ $('Content Analyzer').item.json.choices[0].message.content.estimatedComplexity }}') is 'expert_level', break down complex ideas clearly. If it's 'beginner_friendly', maintain accessibility while providing value.\n- **Call to Action (Subtle):** Medium posts sometimes end with a thought-provoking statement, a question for reflection, or a subtle encouragement for claps/follows, but avoid overly salesy CTAs.\n\nOUTPUT FORMAT (Reminder):\nA well-written and formatted article segment, potentially including headline suggestions, using markdown for structure, suitable for Medium.`"
            }
          ]
        },
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        436,
        900
      ],
      "id": "acad74f6-3757-4ab8-a8e9-84960444796e",
      "name": "OpenAI - Medium",
      "credentials": {
        "openAiApi": {
          "id": "hSdh1UPJQdWQvoej",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b542c6d-93cf-4879-a8ba-7d29a4f7fbc1",
              "name": "substackPost",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        812,
        700
      ],
      "id": "6f2d748f-7207-4cc1-a225-57cb9d8e617a",
      "name": "Format - Substack"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b542c6d-93cf-4879-a8ba-7d29a4f7fbc1",
              "name": "threadsPost",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        812,
        500
      ],
      "id": "78699d89-8685-49f7-87dd-7300a976b0dd",
      "name": "Format - Threads"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b542c6d-93cf-4879-a8ba-7d29a4f7fbc1",
              "name": "twitterPost",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        812,
        300
      ],
      "id": "4d9e42b2-3249-4248-8ee5-2dcb19498b92",
      "name": "Format - Twitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b542c6d-93cf-4879-a8ba-7d29a4f7fbc1",
              "name": "linkedinPost",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        812,
        100
      ],
      "id": "e2d44e8c-735e-4f19-aef6-56d98927b433",
      "name": "Format - Linkedin"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b542c6d-93cf-4879-a8ba-7d29a4f7fbc1",
              "name": "mediumPost",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        812,
        900
      ],
      "id": "b48f7e60-5448-4234-90b5-efdfbeaa4640",
      "name": "Format - Medium"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Twitter": {
      "main": [
        [
          {
            "node": "Format - Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Linkedin": {
      "main": [
        [
          {
            "node": "Format - Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Input": {
      "main": [
        [
          {
            "node": "Content Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Posts": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Threads": {
      "main": [
        [
          {
            "node": "Format - Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Analyzer": {
      "main": [
        [
          {
            "node": "OpenAI - Twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI - Linkedin",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI - Threads",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI - Substack",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI - Medium",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Medium": {
      "main": [
        [
          {
            "node": "Format - Medium",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Substack": {
      "main": [
        [
          {
            "node": "Format - Substack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format - Threads": {
      "main": [
        [
          {
            "node": "Merge Posts",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Format - Twitter": {
      "main": [
        [
          {
            "node": "Merge Posts",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format - Linkedin": {
      "main": [
        [
          {
            "node": "Merge Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format - Substack": {
      "main": [
        [
          {
            "node": "Merge Posts",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Format - Medium": {
      "main": [
        [
          {
            "node": "Merge Posts",
            "type": "main",
            "index": 4
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3aeb5a97-0b09-48ae-b89d-e0ff67aada59",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e9b5f1b9e6833cf65b79f249be45e49f2c6f201e915fdce2df1135889baf442"
  },
  "id": "GyhStz4vgDWcWX7o",
  "tags": []
}